* {
  --green: #3d814b;
  --darkgreen: #316b40;
  --lightgray: rgb(221, 221, 221);
  --gray: rgb(177, 177, 177);
  --yellowPenHover: #df9100;
  --redTrashHover: rgb(207, 0, 0);
  --redAlertText: rgb(202, 0, 0);
  --subjectGray: #808080;
  --subjectPink: #DD5F9A;
  --subjectOrange: #E0720B;
  --subjectLightBlue: #2D9CE1;
  --subjectGreen: #316b40;
  --subjectPurple: #8e51cc;
  --subjectTeal: #019197;
  --subjectRed: #e04040;
  --subjectYellow: #cfbb00;
  --subjectDarkBlue: #204692;
}

body {
  font-family: "Manrope", sans-serif;
  color: white;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
  user-select: none;
}

html {
  background: url(/images/background.png) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

::selection {
  color: white;
  background: rgb(0, 0, 0);
}

#grid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
}

#gridHeader {
  width: 100vw;
  height: 70px;
}

#gridCenter {
  width: 100vw;
  height: 550px;
}

#bottlesArea {
  position: absolute;
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 100px;
  row-gap: 40%;
  align-content: center;
}

#bottlesArea * {
  height: 100px;
}

.bottle:hover {
  cursor: pointer;
  box-shadow: 0px 0px 20px rgb(212, 212, 212);
}

#quickView {
  position: absolute;
  width: 280px;
  height: 80px;
  box-shadow: 0px 0px 30px rgb(80, 80, 80, 0.4);
  background: rgba(250, 250, 250, 0.95);
  border-radius: 10px;
  display: none;
  transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
  z-index: 2;
  box-shadow: 0 0 0 0.4em gray;
}

#quickView * {
  margin-left: 16px;
  color: black;
}

#quickViewTitle {
  margin-top: 15px;
  font-size: 18px;
}

#quickViewSubject {
  font-size: 14px;
}

#createForm,
#editBottleForm {
  position: absolute;
  right: 10px;
  bottom: 120px;
  width: 440px;
  height: 510px;
  background: rgba(255, 255, 255, 0.95);
  border-radius: 10px;
  transition: opacity 0.25s;
  -webkit-transition: opacity 0.25s;
  display: none;
  opacity: 0;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 15px;
  color: black;
  font-family: "Manrope", sans-serif;
  box-shadow: 0px 0px 30px rgb(80, 80, 80, 0.4);
}

#createForm *,
#editBottleForm *,
#addSubjectForm * {
  margin: 0px 10px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
}

#createFormRow1,
#editBottleFormRow1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: -40px;
  margin-top: 5px;
  position: relative;
  left: -10px;
}

#formDueDate,
#bottleDueDate {
  width: 130px;
  font-size: 14px;
}

#formDueDate:hover,
#bottleDueDate:hover {
  cursor: pointer;
}

input::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

#createForm * input,
#editBottleForm * input,
#addSubjectForm * input {
  border-radius: 5px;
  border: none;
  padding: 8px 8px;
  height: 16px;
  font-size: 14px;
}

#createForm p,
#editBottleForm p,
#addSubjectForm p {
  font-size: 12px;
  color: var(--redAlertText);
  margin-top: -1px;
}

#downIcon {
  position: absolute;
  left: 150px;
  top: 26px;
  width: 16px;
  height: 16px;
  fill: #c5c5c5;
  padding: 4px;
  background-color: white;
}

#downIcon:hover {
  cursor: pointer;
}

#formSubject,
#bottleSubject {
  width: 225px;
  background: white;
  border-radius: 5px;
  border-width: 2px;
  border-color: transparent;
  color: black;
  line-height: 28px;
  font-size: 14px;
  padding: 0 10px;
  cursor: pointer;
  text-align: left;
  padding-right: 42px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

#formSubject:focus,
#bottleSubject:focus {
  border: solid;
  border-width: 2px;
  border-color: var(--green);
}

.formSubjectsList,
.bottleSubjectsList {
  display: none;
  position: absolute;
  margin: 0;
  border: solid;
  border-width: 2px;
  border-color: var(--gray);
  background: #ffffff;
  width: 240px;
  border-radius: 5px;
}

.formSubjectsList > ul,
.bottleSubjectsList > ul {
  position: relative;
  left: -50px;
  list-style-position: inside;
  padding-left: 10px;
  padding-right: 30px;
  line-height: 25px;
  font-size: 14px;
  width: 100%;
  border: 1px solid rgba(128, 128, 128, 0.233);
}

.formSubjectsList > ul:hover,
.bottleSubjectsList > ul:hover {
  background: var(--lightgray);
  cursor: pointer;
  padding-right: 28px;
}

#createFormEditSubjectsButton,
#editBottleFormEditSubjectsButton {
  position: absolute;
  left: 200px;
  padding-left: 10px;
  padding-top: 6px;
  border: none;
  border-radius: 0px 3px 3px 0px;
  background-color: rgb(220, 220, 220);
  fill:rgb(0, 0, 0);
}

#createFormEditSubjectsButton:hover,
#editBottleFormEditSubjectsButton:hover {
  cursor: pointer;
}

#formDetails,
#bottleDetails {
  resize: none;
  border-radius: 6px;
  border: none;
  padding: 8px 9px;
  line-height: 1.5em;
}

#formDetails::-webkit-scrollbar,
#viewBottleFormDetails::-webkit-scrollbar,
#bottleDetails::-webkit-scrollbar,
#editSubjectsFormSubjectsList::-webkit-scrollbar {
  background-color: #dddddd;
  width: 10px;
  border-radius: 10px;
}

#formDetails::-webkit-scrollbar-thumb,
#viewBottleFormDetails::-webkit-scrollbar-thumb,
#bottleDetails::-webkit-scrollbar-thumb,
#editSubjectsFormSubjectsList::-webkit-scrollbar-thumb {
  background-color: #9c9c9c;
  border-radius: 10px;
}

#createForm *:focus,
#editBottleForm *:focus,
#addSubjectForm *:focus {
  outline-color: var(--darkgreen);
}

#formTitle,
#formDetails,
#bottleTitle,
#bottleDetails {
  width: calc(100% - 35px);
  font-size: 14px;
}

#createFormHeader,
#editBottleFormHeader,
#addSubjectFormHeader,
#editSubjectsFormHeader {
  background-color: gray;
  color: white;
  padding: 15px;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin: 0px 0px -10px 0px;
  border-radius: 8px 8px 0px 0px;
  height: 25px;
}

#createFormHeader:hover,
#editBottleFormHeader:hover {
  user-select: none;
  cursor: auto;
}

.createFormLabels,
.editBottleFormLabels {
  line-height: 22px;
  font-size: 13px;
  font-weight: 500;
}

#createFormButtons,
#editBottleFormButtons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: calc(100% - 20px);
  position: absolute;
  bottom: 15px;
}

#createFormButtons *,
#editBottleFormButtons *,
#addSubjectButtons *,
#editSubjectsFormAddSubjectButton {
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  text-align: center;
  padding: 8px 20px;
  border: none;
  border-radius: 20px;
  font-weight: 500;
}

#createFormButtons *:hover,
#editBottleFormButtons *:hover,
#addSubjectButtons *:hover {
  cursor: pointer;
}

#createFormCancelButton,
#editBottleFormCancelButton,
#addSubjectCancelButton {
  background-color: white;
  color: black;
}

#createFormCancelButton:hover,
#editBottleFormCancelButton:hover,
#addSubjectCancelButton:hover {
  background-color: #f3f3f3;
}

#createFormcreateBottleButton,
#editBottleFormSaveBottleButton,
#addSubjectCreateButton,
#editSubjectsFormAddSubjectButton {
  background-color: var(--green);
  color: white;
}

#createFormcreateBottleButton:hover,
#editBottleFormSaveBottleButton:hover,
#addSubjectCreateButton:hover,
#editSubjectsFormAddSubjectButton:hover {
  background-color: var(--darkgreen);
  cursor: pointer;
}

#createFormBottomDecor {
  position: absolute;
  transform: rotateY(0deg) rotate(45deg);
  border-radius: 5px;
  right: 14px;
  bottom: -10px;
  width: 30px;
  height: 30px;
  background-color: inherit;
}

#viewBottleForm {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 520px;
  height: 230px;
  background: rgba(255, 255, 255, 0.95);
  border-radius: 10px;
  transition: opacity 0.25s;
  -webkit-transition: opacity 0.25s;
  flex-direction: column;
  justify-content: flex-end;
  row-gap: 50px;
  color: black;
  font-family: "Manrope", sans-serif;
  box-shadow: 0px 0px 30px rgb(80, 80, 80, 0.4);
  display: none;
}

#viewBottleFormTrashButton {
  position: absolute;
  right: 80px;
  top: 18px;
  background-color: transparent;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  padding: 3px;
  fill: white;
}

#viewBottleFormTrashButton:hover {
  background-color: white;
  cursor: pointer;
  fill: var(--redTrashHover);
}

#viewBottleFormEditButton {
  position: absolute;
  right: 45px;
  top: 18px;
  background-color: transparent;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  padding: 3px;
  fill: white;
}

#viewBottleFormEditButton:hover {
  background-color: white;
  cursor: pointer;
  fill: var(--yellowPenHover);
}

#viewBottleFormCloseBottleButton,
#editSubjectsFormCloseButton {
  position: absolute;
  fill: white;
  font-size: 20px;
  right: 10px;
  top: 18px;
  text-align: center;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  line-height: 25px;
}

#viewBottleFormCloseBottleButton:hover,
#editSubjectsFormCloseButton:hover {
  position: absolute;
  fill: gray;
  background-color: white;
  cursor: pointer;
}

#viewBottleForm:hover {
  user-select: text;
}

#viewBottleForm * {
  margin: 0px 10px 0px 13px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
}

#viewBottleFormHeader {
  background-color: gray;
  color: white;
  padding: 20px 10px 10px 10px;
  font-family: "Manrope", sans-serif;
  border-radius: 8px 8px 0px 0px;
  margin: 0px 0px -10px 0px;
  height: 54px;
  line-height: 22px;
}

#viewBottleFormTitle {
  font-size: 20px;
  font-weight: 500;
  margin-left: 16px;
  word-break: normal;
  width: 320px;
}

#viewBottleFormSubject {
  margin-top: 2px;
  font-size: 15px;
  margin-left: 16px;
}

#viewBottleFormDueDate {
  font-size: 16px;
  position: relative;
  top: 40px;
}

#dueDateIcon {
  width: 20px;
  height: 20px;
  fill: rgb(112, 112, 112);
  pointer-events: none;
  user-select: none;
}

#viewBottleFormDueTime {
  position: absolute;
  left: 40px;
  top: -10px;
}

#viewBottleFormCountdown {
  font-size: 13px;
  font-weight: 600;
  color: #df9100;
  position: absolute;
  left: 40px;
  top: 10px;
}

#viewBottleFormProgress {
  font-size: 16px;
  position: relative;
  top: 65px;
  z-index: 1;
}

#loadingIcon {
  width: 20px;
  height: 20px;
  fill: rgb(112, 112, 112);
  pointer-events: none;
  user-select: none;
}

#viewBottleFormPercent {
  position: absolute;
  left: 40px;
  top: -2px;
}

/* Reference: https://codepen.io/steveholgado/pen/OEpGXq */
#sliderWrap {
  width: calc(100% - 25px);
  position: absolute;
  top: 35px;
  z-index: 2;
}

#range {
  width: 100%;
  height: 18px;
  top: -10px;
  cursor: pointer;
  opacity: 0;
  position: absolute;
  left: -8px;
}

#track {
  width: calc(100% - 8px);
  height: 6px;
  background: #b8b8b8;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  left: -12px;
  border-radius: 20px;
}

#track-inner {
  width: 10px;
  height: 100%;
  background: #777777;
  position: relative;
  left: -15px;
  border-radius: 20px;
  pointer-events: none;
}

#thumb {
  width: 18px;
  height: 18px;
  background: #777777;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-120%, -50%);
  pointer-events: none;
}

#viewBottleFormDetails {
  font-size: 14px;
  height: calc(100% - 260px);
  width: calc(100% - 65px);
  overflow-y: auto;
  word-wrap: break-word;
  position: relative;
  top: 110px;
  left: 5px;
  padding: 0px 10px;
  border-radius: 5px;
}

#editBottleForm {
  top: 50px;
  left: 50px;
}

#bottleDetails {
  height: 175px;
}

#gridFooter {
  width: 100vw;
  height: 85px;
  display: flex;
  justify-content: space-between;
}

#footerLeftSpace {
  width: 100px;
}

#newTaskButton {
  position: relative;
  bottom: 30px;
  right: 16px;
  font-family: "Manrope", sans-serif;
  font-size: 50px;
  font-weight: 400;
  width: 80px;
  height: 100px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-image: url("/images/newBottle.png");
  background-position: 10px 10px;
  background-size: 60px;
  border-radius: 20px;
}

#newTaskButton:hover {
  cursor: pointer;
}

#time {
  font-family: "Roboto", sans-serif;
  font-size: 150px;
  color: white;
  text-align: center;
}

#date {
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 30px;
  text-align: center;
  margin-top: -150px;
  font-weight: 400;
}

#quoteArea {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  user-select: text;
  text-align: center;
  transition-duration: 0.35s;
  transform: translateY(14px);
}

#quoteArea:hover {
  transform: translateY(-5px);
  transition-duration: 0.35s;
}

#quote {
  font-size: 18px;
  color: white;
  width: auto;
  margin-bottom: -10px;
}

#quoteBy {
  font-size: 13px;
  color: rgb(233, 233, 233);
  opacity: 0;
  transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
}

#editSubjectsFormOverlay,
#addSubjectFormOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.5);
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.25s;
  -webkit-transition: opacity 0.25s;
  display: none;
  opacity: 0;
}

#editSubjectsForm {
  position: absolute;
  width: 480px;
  height: 430px;
  background: rgba(255, 255, 255, 0.95);
  border-radius: 10px;
  flex-direction: column;
  justify-content: flex-start;
  color: black;
  font-family: "Manrope", sans-serif;
  box-shadow: 0px 0px 30px rgb(80, 80, 80, 0.4);
}

#editSubjectsFormCloseButton {
  top: 15px;
  right: 15px;
}

#editSubjectsFormAddSubjectButton {
  right: 15px;
  position: absolute;
  bottom: 15px;
}

#editSubjectsFormSubjectsList {
  margin-top: 13px;
  overflow-y: auto;
  height: 310px;
}

#editSubjectsFormSubjectsList::-webkit-scrollbar,
#editSubjectsFormSubjectsList::-webkit-scrollbar-thumb {
  right: 20px;
}

.editSubjectsFormSubject {
  padding: 10px 25px;
}

.editSubjectsFormSubject:hover {
  cursor: pointer;
  background-color: var(--lightgray);
}

#addSubjectFormOverlay {
  background-color: rgb(0, 0, 0, 0.5);
  z-index: 4;
}

#addSubjectForm {
  position: absolute;
  width: 480px;
  height: 350px;
  background: rgba(255, 255, 255, 0.95);
  border-radius: 10px;
  flex-direction: column;
  justify-content: flex-start;
  color: black;
  font-family: "Manrope", sans-serif;
  box-shadow: 0px 0px 30px rgb(80, 80, 80, 0.4);
}

#addSubjectFormName {
  line-height: 22px;
  font-size: 13px;
  font-weight: 500;
  margin: 22px 38px;
}

#subjectName {
  width: 370px;
}

#addSubjectColors {
  margin: auto;
  margin-top: 20px;
  display: block;
  width: 390px;
}

.colors {
  width: 35px;
  height: 35px;
  padding: 4px;
  border-radius: 100%;
  /* transparent placeholder border */
  border: 6px #ffffff00 solid; 
}

.colors:hover {
  cursor: pointer;
}

#colorGray {
  fill: var(--subjectGray);
}

#colorLightBlue {
  fill: var(--subjectLightBlue);
}

#colorOrange{
  fill: var(--subjectOrange);
}

#colorPink {
  fill: var(--subjectPink);
}

#colorGreen {
  fill: var(--subjectGreen);
}

#colorPurple {
  fill: var(--subjectPurple);
}

#colorTeal {
  fill: var(--subjectTeal);
}

#colorRed {
  fill: var(--subjectRed);
}

#colorYellow {
  fill: var(--subjectYellow);
}

#colorDarkBlue {
  fill: var(--subjectDarkBlue);
}

#addSubjectButtons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: calc(100% - 45px);
  position: absolute;
  bottom: 15px;
}