* {
  --darkModeFormBackground: rgba(32, 35, 37, 0.92);
  --darkModeFormTextBox: rgb(20, 21, 22);
  --darkModeFormIconBackground: rgb(91, 95, 100);
  --darkModeFormSubjectHover: rgb(111, 113, 117);
  --green: #3d814b;
  --darkgreen: #316b40;
  --lightgray: rgb(221, 221, 221);
  --gray: rgb(177, 177, 177);
  --yellowPenHover: #df9100;
  --redTrashHover: rgb(207, 0, 0);
  --redAlertText: rgb(255, 34, 34);
  --subjectGray: #707070;
  --subjectPink: #DD5F9A;
  --subjectOrange: #E0720B; 
  --subjectLightBlue: #2D9CE1;
  --subjectGreen: #438f57;
  --subjectPurple: #8e51cc;
  --subjectTeal: #019398;
  --subjectRed: #e04040;
  --subjectYellow: #d6b615;
  --subjectDarkBlue: #204692;
}

body {
  font-family: "Manrope", sans-serif;
  color: white;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
  user-select: none;
}

html {
  background: rgb(9,88,125);
  background: linear-gradient(180deg, rgba(9,88,125,1) 0%, rgba(63,147,164,1) 37%, rgba(166,232,219,1) 100%);
  overflow: hidden;
}

#plantsBottom {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translate(-50%, 0%);
}

input {
  color-scheme: dark;
}

::selection {
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
}

#grid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
}

#gridHeader {
  width: 100vw;
  height: 70px;
}

#gridCenter {
  width: 100vw;
  height: 550px;
}

#bottlesArea {
  position: absolute;
  width: 100%;
  height: calc(100vh - 300px);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 100px;
  align-content: center;
  top: 150px;
}

#bottlesArea * {
  transform: scale(0.7) rotate(5deg);
  margin-bottom: -70px;
}

.bottle:hover {
  cursor: pointer;
}

#quickView {
  position: absolute;
  width: 350px;
  height: 80px;
  background: var(--darkModeFormBackground);
  border-radius: 10px;
  display: none;
  z-index: 2;
}

#quickView * {
  margin-left: 16px;
  color: white;
}

#quickViewTitle {
  width: 250px;
  margin-top: 15px;
  font-size: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#quickViewSubject {
  width: 250px;
  overflow: hidden;
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#quickViewDueDate {
  font-size: 14px;
  position: absolute;
  top: 18px;
  right: 14px;
}

#createForm,
#editBottleForm {
  position: absolute;
  right: 10px;
  bottom: 120px;
  width: 440px;
  height: 510px;
  background: var(--darkModeFormBackground);
  border-radius: 10px;
  transition: opacity 0.25s;
  -webkit-transition: opacity 0.25s;
  display: none;
  opacity: 0;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 15px;
  color: black;
  font-family: "Manrope", sans-serif;
  box-shadow: 0px 0px 30px rgb(80, 80, 80, 0.4);
}

#createForm *,
#editBottleForm *,
#addSubjectForm *,
#editSubjectForm * {
  margin: 0px 10px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
}

#createFormRow1,
#editBottleFormRow1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: -40px;
  margin-top: 5px;
  position: relative;
  left: -10px;
}

#formDueDate,
#bottleDueDate {
  width: 130px;
  font-size: 14px;
}

#formDueDate:hover,
#bottleDueDate:hover {
  cursor: pointer;
}

input::-webkit-calendar-picker-indicator {
  cursor: pointer;
  color-scheme: dark;
  background-color: var(--darkModeFormIconBackground);
  padding: 8px;
  width: 17px;
  height: 17px;
  margin-right: -8px;
}

input::-webkit-calendar-picker-indicator:hover {
  background-color: #777777;
}

#createForm * input,
#editBottleForm * input,
#addSubjectForm * input,
#editSubjectForm * input {
  border-radius: 5px;
  border: none;
  padding: 8px 8px;
  height: 16px;
  font-size: 14px;
  background-color: var(--darkModeFormTextBox);
  color: white;
}

#createForm p,
#editBottleForm p,
#addSubjectForm p,
#editSubjectForm p {
  font-size: 12px;
  color: var(--redAlertText);
  margin-top: -1px;
}

#downIcon {
  position: absolute;
  left: 150px;
  top: 26px;
  width: 16px;
  height: 16px;
  fill: #c5c5c5;
  padding: 4px;
  background-color: white;
}

#downIcon:hover {
  cursor: pointer;
}

#formSubject,
#bottleSubject {
  width: 225px;
  background: var(--darkModeFormTextBox);
  border-radius: 5px;
  border-width: 2px;
  border-color: transparent;
  color: rgb(255, 255, 255);
  line-height: 28px;
  font-size: 14px;
  padding: 0 10px;
  cursor: pointer;
  text-align: left;
  padding-right: 42px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

#formSubject:focus,
#bottleSubject:focus {
  border: 2px white solid;
}

.formSubjectsList,
.bottleSubjectsList {
  display: none;
  position: absolute;
  margin: 0;
  border: 2px white solid;
  background: var(--darkModeFormBackground);
  width: 260px;
  border-radius: 5px;
  color: white;
}

.formSubjectsList > ul,
.bottleSubjectsList > ul {
  position: relative;
  left: -50px;
  list-style-position: inside;
  padding-left: 10px;
  padding-right: 30px;
  line-height: 27px;
  font-size: 14px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-radius: 3px;
}

.formSubjectsList > ul:hover,
.bottleSubjectsList > ul:hover {
  background: var(--darkModeFormSubjectHover);
  cursor: pointer;
  padding-right: 30px;
}

#createFormEditSubjectsButton,
#editBottleFormEditSubjectsButton {
  position: absolute;
  left: 200px;
  padding-left: 10px;
  padding-top: 8px;
  border: none;
  border-radius: 0px 5px 5px 0px;
  background-color: var(--darkModeFormIconBackground);
  fill:rgb(255, 255, 255);
}

#createFormEditSubjectsButton:hover,
#editBottleFormEditSubjectsButton:hover {
  cursor: pointer;
  background-color: #777777;
}

#formDetails,
#bottleDetails {
  resize: none;
  border-radius: 6px;
  border: none;
  padding: 8px 9px;
  line-height: 1.5em;
  background-color: var(--darkModeFormTextBox);
}

#formDetails::-webkit-scrollbar,
#viewBottleFormDetails::-webkit-scrollbar,
#bottleDetails::-webkit-scrollbar,
#editSubjectsFormSubjectsList::-webkit-scrollbar {
  background-color: rgb(41, 41, 41);
  width: 10px;
  border-radius: 10px;
}

#formDetails::-webkit-scrollbar-thumb,
#viewBottleFormDetails::-webkit-scrollbar-thumb,
#bottleDetails::-webkit-scrollbar-thumb,
#editSubjectsFormSubjectsList::-webkit-scrollbar-thumb {
  background-color: #919191;
  border-radius: 10px;
}

#formDetails::-webkit-scrollbar-thumb:hover,
#viewBottleFormDetails::-webkit-scrollbar-thumb:hover,
#bottleDetails::-webkit-scrollbar-thumb:hover,
#editSubjectsFormSubjectsList::-webkit-scrollbar-thumb:hover {
  background-color: #b9b9b9;
}

#createForm *:focus,
#editBottleForm *:focus,
#addSubjectForm *:focus,
#editSubjectForm *:focus {
  outline-color: white;
}

#formTitle,
#formDetails,
#bottleTitle,
#bottleDetails {
  width: calc(100% - 35px);
  font-size: 14px;
}

#formDetails:focus, 
#bottleDetails:focus {
  border: 2px white solid;
  outline-width: 0px;
}

#formTitle,
#formDetails,
#formDueDate,
#bottleTitle,
#bottleDetails,
#bottleDueDate {
  color: white;
}

#createFormHeader,
#editBottleFormHeader,
#addSubjectFormHeader,
#editSubjectsFormHeader,
#editSubjectFormHeader {
  background-color: gray;
  color: white;
  padding: 15px;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin: 0px 0px -10px 0px;
  border-radius: 8px 8px 0px 0px;
  height: 25px;
}

#createFormHeader:hover,
#editBottleFormHeader:hover {
  user-select: none;
  cursor: auto;
}

.createFormLabels,
.editBottleFormLabels,
#addSubjectFormName,
#editSubjectFormName {
  line-height: 22px;
  font-size: 13px;
  font-weight: 500;
  color: rgb(155, 155, 155);
}

#createFormButtons,
#editBottleFormButtons,
#editSubjectFormButtons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: calc(100% - 20px);
  position: absolute;
  bottom: 15px;
}

#createFormButtons *,
#editBottleFormButtons *,
#addSubjectButtons *,
#editSubjectsFormAddSubjectButton,
#editSubjectFormButtons * {
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  text-align: center;
  padding: 6px 20px;
  border: none;
  border-radius: 20px;
  font-weight: 500;
  margin-bottom: 4px;
}

#createFormButtons *:hover,
#editBottleFormButtons *:hover,
#addSubjectButtons *:hover,
#editSubjectFormButtons *:hover,
#confirmationButtons *:hover {
  cursor: pointer;
}

#createFormCancelButton,
#editBottleFormCancelButton,
#addSubjectCancelButton,
#editSubjectFormCancelButton,
#confirmationCancelButton {
  background-color: transparent;
  color: rgb(255, 255, 255);
  border: 2px rgb(70, 70, 70) solid;
}

#createFormCancelButton:hover,
#editBottleFormCancelButton:hover,
#addSubjectCancelButton:hover,
#editSubjectFormCancelButton:hover,
#confirmationCancelButton:hover {
  border: 2px #8a8a8a solid;
}

#createFormCreateBottleButton,
#editBottleFormSaveBottleButton,
#addSubjectCreateButton,
#editSubjectsFormAddSubjectButton,
#editSubjectFormSaveButton {
  background-color: var(--green);
  color: white;
  padding: 8px 20px;
}

#createFormCreateBottleButton:hover,
#editBottleFormSaveBottleButton:hover,
#addSubjectCreateButton:hover,
#editSubjectsFormAddSubjectButton:hover,
#editSubjectFormSaveButton:hover {
  background-color: #52aa63;
  cursor: pointer;
}

#editSubjectFormTrashIcon {
  position: absolute;
  left: -20px;
  top: 0px;
  width: 18px;
  height: 18px;
}

#editSubjectFormDeleteButton {
  background-color: transparent;
  color: var(--subjectGray);
  fill: var(--subjectGray);
  position: relative;
  right: 145px;
  width: 94px;
  height: 30px;
  top: 8px;
  padding: 0px 34px;
}

#editSubjectFormDeleteButton:hover {
  color: var(--redAlertText);
  fill: var(--redAlertText);
}

#createFormBottomDecor {
  position: absolute;
  transform: rotateY(0deg) rotate(45deg);
  border-radius: 5px;
  right: 14px;
  bottom: -10px;
  width: 30px;
  height: 30px;
  background-color: inherit;
}

#viewBottleForm {
  position: absolute;
  top: 100px;
  left: 80px;
  width: 520px;
  height: 230px;
  background: var(--darkModeFormBackground);
  border-radius: 10px;
  transition: opacity 0.25s;
  -webkit-transition: opacity 0.25s;
  flex-direction: column;
  justify-content: flex-end;
  row-gap: 50px;
  color: white;
  font-family: "Manrope", sans-serif;
  box-shadow: 0px 0px 30px rgb(80, 80, 80, 0.4);
  display: none;
  opacity: 0;
}

#viewBottleFormTrashButton {
  position: absolute;
  right: 80px;
  top: 18px;
  background-color: transparent;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  padding: 3px;
  fill: white;
}

#viewBottleFormTrashButton:hover {
  background-color: white;
  cursor: pointer;
  fill: var(--redTrashHover);
}

#viewBottleFormEditButton {
  position: absolute;
  right: 45px;
  top: 18px;
  background-color: transparent;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  padding: 3px;
  fill: white;
}

#viewBottleFormEditButton:hover {
  background-color: white;
  cursor: pointer;
  fill: var(--yellowPenHover);
}

#viewBottleFormCloseBottleButton,
#editSubjectsFormCloseButton {
  position: absolute;
  fill: white;
  font-size: 20px;
  right: 10px;
  top: 18px;
  text-align: center;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  line-height: 25px;
}

#viewBottleFormCloseBottleButton:hover,
#editSubjectsFormCloseButton:hover {
  position: absolute;
  fill: gray;
  background-color: white;
  cursor: pointer;
}

#viewBottleForm:hover {
  user-select: text;
}

#viewBottleForm * {
  margin: 0px 10px 0px 13px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
}

#viewBottleFormHeader {
  background-color: gray;
  color: white;
  padding: 20px 10px 10px 10px;
  font-family: "Manrope", sans-serif;
  border-radius: 8px 8px 0px 0px;
  margin: 0px 0px -10px 0px;
  height: 54px;
  line-height: 22px;
}

#viewBottleFormTitle {
  font-size: 20px;
  font-weight: 500;
  margin-left: 16px;
  word-break: break-all;
  width: 320px;
}

#viewBottleFormSubject {
  margin-top: 2px;
  font-size: 15px;
  margin-left: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#viewBottleFormDueDate {
  font-size: 16px;
  position: relative;
  top: 40px;
}

#dueDateIcon {
  width: 20px;
  height: 20px;
  fill: #cacaca;
  pointer-events: none;
  user-select: none;
}

#viewBottleFormDueTime {
  position: absolute;
  left: 40px;
  top: -10px;
}

#viewBottleFormCountdown {
  font-size: 13px;
  font-weight: 600;
  color: #df9100;
  position: absolute;
  left: 40px;
  top: 10px;
}

#viewBottleFormProgress {
  font-size: 16px;
  position: relative;
  top: 65px;
  z-index: 1;
}

#loadingIcon {
  width: 20px;
  height: 20px;
  fill: #cacaca;
  pointer-events: none;
  user-select: none;
}

#viewBottleFormPercent {
  position: absolute;
  left: 40px;
  top: -2px;
}

/* Reference: https://codepen.io/steveholgado/pen/OEpGXq */
#sliderWrap {
  width: calc(100% - 25px);
  position: absolute;
  top: 35px;
  z-index: 2;
}

#range {
  width: 100%;
  height: 18px;
  top: -10px;
  cursor: pointer;
  opacity: 0;
  position: absolute;
  left: -8px;
}

#track {
  width: calc(100% - 8px);
  height: 6px;
  background: #a0a0a0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  left: -12px;
  border-radius: 20px;
}

#track-inner {
  width: 10px;
  height: 100%;
  background: #777777;
  position: relative;
  left: -15px;
  border-radius: 20px;
  pointer-events: none;
}

#thumb {
  width: 18px;
  height: 18px;
  background: #777777;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-120%, -50%);
  pointer-events: none;
}

#viewBottleFormDetails {
  font-size: 14px;
  height: calc(100% - 260px);
  width: calc(100% - 65px);
  overflow-y: auto;
  word-wrap: break-word;
  position: relative;
  top: 110px;
  left: 5px;
  padding: 0px 10px;
  border-radius: 5px;
}

#editBottleForm {
  top: 100px;
  left: 80px;
}

#bottleDetails {
  height: 175px;
}

#gridFooter {
  width: 100vw;
  height: 85px;
  display: flex;
  justify-content: space-between;
}

#footerLeftSpace {
  width: 100px;
}

#newTaskButton {
  position: relative;
  bottom: 30px;
  right: 16px;
  font-family: "Manrope", sans-serif;
  font-size: 50px;
  font-weight: 400;
  width: 80px;
  height: 100px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-image: url("/images/newBottle.png");
  background-position: 10px 10px;
  background-size: 60px;
  border-radius: 20px;
}

#newTaskButton:hover {
  cursor: pointer;
}

#time {
  font-family: "Roboto", sans-serif;
  font-size: 100px;
  color: white;
  text-align: center;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%, 0%);  
}

#date {
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 22px;
  font-weight: 400;
  position: absolute;
  top: 165px;
  left: 50%;
  transform: translate(-50%, 0%);  
}

#quoteArea {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  user-select: text;
  text-align: center;
  transition-duration: 0.35s;
  transform: translateY(14px);
}

#quoteArea:hover {
  transform: translateY(-5px);
  transition-duration: 0.35s;
}

#quote {
  font-size: 16px;
  color: white;
  width: auto;
  margin-bottom: -10px;
}

#quoteBy {
  font-size: 13px;
  color: rgb(233, 233, 233);
  opacity: 0;
  transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
}

#editSubjectsFormOverlay,
#addSubjectFormOverlay,
#editSubjectFormOverlay,
#confirmationOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.8);
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.25s;
  -webkit-transition: opacity 0.25s;
  display: none;
  opacity: 0;
}

#editSubjectsForm {
  position: absolute;
  width: 520px;
  height: 410px;
  background: var(--darkModeFormBackground);
  border-radius: 10px;
  flex-direction: column;
  justify-content: flex-start;
  color: rgb(255, 255, 255);
  font-family: "Manrope", sans-serif;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.4);
  font-size: 15px;
}

#editSubjectsFormCloseButton {
  top: 15px;
  right: 15px;
}

#editSubjectsFormAddSubjectButton {
  right: 15px;
  position: absolute;
  bottom: 15px;
}

#editSubjectsFormSubjectsList {
  overflow-y: auto;
  overflow-x: hidden;
  height: 272px;
  margin-top: 22px;
  margin-right: 15px;
  margin-left: 15px;
}

.editSubjectsFormSubject {
  padding: 10px 25px;
  margin-bottom: -13px;
}

.editSubjectsFormSubject:first-child {
  margin-top: 0px;
}

.editSubjectsFormSubject:hover {
  cursor: pointer;
  background-color: var(--darkModeFormSubjectHover);
  border-radius: 4px;
}

#addSubjectFormOverlay,
#editSubjectFormOverlay {
  background-color: rgb(0, 0, 0, 0.5);
  z-index: 4;
}

#addSubjectForm,
#editSubjectForm,
#confirmationPopUp {
  position: absolute;
  width: 480px;
  height: 350px;
  background: var(--darkModeFormBackground);
  border-radius: 10px;
  flex-direction: column;
  justify-content: flex-start;
  color: black;
  font-family: "Manrope", sans-serif;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.4);
}

#addSubjectFormHeader,
#editSubjectFormHeader {
  margin-bottom: 5px;
}

#addSubjectFormName,
#editSubjectFormName {
  line-height: 22px;
  font-size: 13px;
  font-weight: 500;
  margin: 10px 38px;
}

#subjectName,
#editSubjectName {
  width: 370px;
}

#addSubjectColors,
#editSubjectColors {
  margin: auto;
  margin-top: 20px;
  display: block;
  width: 390px;
}

.colors {
  width: 35px;
  height: 35px;
  padding: 4px;
  border-radius: 100%;
  /* transparent placeholder border */
  border: 6px #ffffff00 solid; 
}

.subjectsColorDot {
  border-radius: 100%;
  min-width: 22px;
  height: 22px;
  margin-right: 14px;
}

.colors:hover {
  cursor: pointer;
}

#colorGray1,
#colorGray2 {
  fill: var(--subjectGray);
}

#colorLightBlue1,
#colorLightBlue2 {
  fill: var(--subjectLightBlue);
}

#colorOrange1,
#colorOrange2 {
  fill: var(--subjectOrange);
}

#colorPink1,
#colorPink2 {
  fill: var(--subjectPink);
}

#colorGreen1,
#colorGreen2 {
  fill: var(--subjectGreen);
}

#colorPurple1,
#colorPurple2 {
  fill: var(--subjectPurple);
}

#colorTeal1,
#colorTeal2 {
  fill: var(--subjectTeal);
}

#colorRed1,
#colorRed2 {
  fill: var(--subjectRed);
}

#colorYellow1,
#colorYellow2 {
  fill: var(--subjectYellow);
}

#colorDarkBlue1,
#colorDarkBlue2 {
  fill: var(--subjectDarkBlue);
}

#addSubjectButtons,
#editSubjectButtons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: calc(100% - 45px);
  position: absolute;
  bottom: 15px;
}

#confirmationOverlay {
  z-index: 6;
}

#confirmationPopUp {
  border-radius: 10px;
  width: 400px;
  height: 220px;
  text-align: center;
  font-size: 13px;
  color: white;
}

#confirmationHeader {
  font-size: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

#confirmationButtons {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#confirmationButtons * {
  border-radius: 50px;
  padding: 9px 22px;
  font-size: 14px;
}

#confirmationDeleteButton {
  border: transparent;
  background-color: rgb(233, 59, 59);;
  color: white;
}

#confirmationDeleteButton:hover {
  background-color: var(--redAlertText);
}